<!-- Customer Detail -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{ customer.name | uppercase }}
    </h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">Phone: {{ customer.phone }}
      </li>
      <li class="list-group-item">Email: {{ customer.email }}
      </li>
      <li class="list-group-item">Privileged Customer?
        <span>
          {{ checkPrivilege() }}
        </span>
      </li>

      <li *ngIf="customer.isPrivileged" class="list-group-item" [ngStyle]="{color: customer.isPrivileged ? 'blue' : 'red', fontFamily: customer.isPrivileged ? 'courier' : 'verdana' }">You are eligible for 50% discount!</li>
      <!-- <li class="list-group-item" [style.background-color]="customer.isPrivileged ? 'yellow' : 'lightgreen'">You are eligible for 50% discount!</li> -->
    </ul>
  </div>
</div>
