<!-- Product Detail -->
<!-- Panel (Structure & Outline) -->

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{ product?.name | uppercase }}
    </h3>
  </div>
  <div class="panel-body">
    <p [ngStyle]="{ color: product?.isAvailable ? 'limegreen' : 'orangered' }">
      {{ product?.description }}
    </p>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="label" [ngClass]="product?.isAvailable ? 'label-primary' : 'label-warning'">
        {{ product?.isAvailable ? 'Available':'Not Available' }}
      </span>
    </li>
    <li class="list-group-item">
      {{ product?.price | currency : 'INR' }}
    </li>
  </ul>
</div>
